<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>GameStation</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="naslov" href="index.html">GameStation</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div>
                    <div class="row center">
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="./images/igrica-1.jpg" alt="igrica">
                            </a>
                            <div class="card-body">
                                <a href="product.html">
                                    <h2>Grand Theft Auto V</h2>
                                </a>
                                <div class="price">$30</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="./images/igrica-1.jpg" alt="igrica">
                            </a>
                            <div class="card-body">
                                <a href="product.html">
                                    <h2>Grand Theft Auto V</h2>
                                </a>
                                <div class="price">$30</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="./images/igrica-1.jpg" alt="igrica">
                            </a>
                            <div class="card-body">
                                <a href="product.html">
                                    <h2>Grand Theft Auto V</h2>
                                </a>
                                <div class="price">$30</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="./images/igrica-1.jpg" alt="igrica">
                            </a>
                            <div class="card-body">
                                <a href="product.html">
                                    <h2>Grand Theft Auto V</h2>
                                </a>
                                <div class="price">$30</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="./images/igrica-1.jpg" alt="igrica">
                            </a>
                            <div class="card-body">
                                <a href="product.html">
                                    <h2>Grand Theft Auto V</h2>
                                </a>
                                <div class="price">$30</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="./images/igrica-1.jpg" alt="igrica">
                            </a>
                            <div class="card-body">
                                <a href="product.html">
                                    <h2>Grand Theft Auto V</h2>
                                </a>
                                <div class="price">$30</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="./images/igrica-1.jpg" alt="igrica">
                            </a>
                            <div class="card-body">
                                <a href="product.html">
                                    <h2>Grand Theft Auto V</h2>
                                </a>
                                <div class="price">$30</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="./images/igrica-1.jpg" alt="igrica">
                            </a>
                            <div class="card-body">
                                <a href="product.html">
                                    <h2>Grand Theft Auto V</h2>
                                </a>
                                <div class="price">$30</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                <a href="index.html">Back To Top</a>
            </footer>
        </div>
    </body>
</html>